* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    height: 500px;
    width: 500px;
}

.red{
    background-color: red;
    height: 50%;
    width: 100%;
}

.blue{
    background-color: blue;
    height: 50%;
    width: 100%;
}